In [1]:
import sqlite3

In [2]:
# Create SQLite database connection
conn = sqlite3.connect(':memory:')
cur = conn.cursor()

# Create tables for e-commerce transactions and products
cur.execute('''CREATE TABLE transactions (
                transaction_id INTEGER PRIMARY KEY,
                customer_id INTEGER,
                timestamp TEXT,
                product_id INTEGER,
                product_category TEXT,
                unit_price REAL,
                quantity INTEGER,
                total_price REAL
                )''')

cur.execute('''CREATE TABLE products (
                product_id INTEGER PRIMARY KEY,
                product_name TEXT
                )''')

In [3]:
# Generate synthetic data for transactions
num_transactions = 1000
transaction_data = [(i+1, 1000+i+1, '2024-03-01 10:00:00', i%20+1, 'Category{}'.format(i%5+1), round((i+1)*10.5, 2), i%5+1, round((i+1)*10.5*(i%5+1), 2)) for i in range(num_transactions)]

# Insert data into the transactions table
cur.executemany('''INSERT INTO transactions (transaction_id, customer_id, timestamp, product_id, product_category, unit_price, quantity, total_price)
                VALUES (?, ?, ?, ?, ?, ?, ?, ?)''', transaction_data)

# Generate synthetic data for products
num_products = 20
product_data = [(i+1, 'Product{}'.format(i+1)) for i in range(num_products)]

# Insert data into the products table
cur.executemany('''INSERT INTO products (product_id, product_name)
                VALUES (?, ?)''', product_data)

In [4]:
# Task 1: Data Retrieval
cur.execute('''SELECT * FROM transactions LIMIT 5''')
print("Task 1: Data Retrieval")
print(cur.fetchall())

Task 1: Data Retrieval
[(1, 1001, '2024-03-01 10:00:00', 1, 'Category1', 10.5, 1, 10.5), (2, 1002, '2024-03-01 10:00:00', 2, 'Category2', 21.0, 2, 42.0), (3, 1003, '2024-03-01 10:00:00', 3, 'Category3', 31.5, 3, 94.5), (4, 1004, '2024-03-01 10:00:00', 4, 'Category4', 42.0, 4, 168.0), (5, 1005, '2024-03-01 10:00:00', 5, 'Category5', 52.5, 5, 262.5)]

In [5]:
# Task 2: Data Aggregation
cur.execute('''SELECT product_category, SUM(total_price) AS total_revenue
               FROM transactions
               GROUP BY product_category
               ORDER BY total_revenue DESC''')
print("\nTask 2: Data Aggregation")
print(cur.fetchall())

Task 2: Data Aggregation
[('Category5', 5276250.0), ('Category4', 4212600.0), ('Category3', 3153150.0), ('Category2', 2097900.0), ('Category1', 1046850.0)]

In [6]:
# Task 3: Filtering
cur.execute('''SELECT * FROM transactions WHERE unit_price > 100 LIMIT 5''')
print("\nTask 3: Filtering")
print(cur.fetchall())

Task 3: Filtering
[(10, 1010, '2024-03-01 10:00:00', 10, 'Category5', 105.0, 5, 525.0), (11, 1011, '2024-03-01 10:00:00', 11, 'Category1', 115.5, 1, 115.5), (12, 1012, '2024-03-01 10:00:00', 12, 'Category2', 126.0, 2, 252.0), (13, 1013, '2024-03-01 10:00:00', 13, 'Category3', 136.5, 3, 409.5), (14, 1014, '2024-03-01 10:00:00', 14, 'Category4', 147.0, 4, 588.0)]

In [7]:
# Task 4: Joins
cur.execute('''SELECT t.*, p.product_name
               FROM transactions t
               INNER JOIN products p ON t.product_id = p.product_id
               LIMIT 5''')
print("\nTask 4: Joins")
print(cur.fetchall())

Task 4: Joins
[(1, 1001, '2024-03-01 10:00:00', 1, 'Category1', 10.5, 1, 10.5, 'Product1'), (2, 1002, '2024-03-01 10:00:00', 2, 'Category2', 21.0, 2, 42.0, 'Product2'), (3, 1003, '2024-03-01 10:00:00', 3, 'Category3', 31.5, 3, 94.5, 'Product3'), (4, 1004, '2024-03-01 10:00:00', 4, 'Category4', 42.0, 4, 168.0, 'Product4'), (5, 1005, '2024-03-01 10:00:00', 5, 'Category5', 52.5, 5, 262.5, 'Product5')]

In [8]:
# Task 5: Subqueries
cur.execute('''SELECT *
               FROM transactions
               WHERE transaction_id IN (SELECT transaction_id FROM transactions WHERE quantity > 3)
               LIMIT 5''')
print("\nTask 5: Subqueries")
print(cur.fetchall())

Task 5: Subqueries
[(4, 1004, '2024-03-01 10:00:00', 4, 'Category4', 42.0, 4, 168.0), (5, 1005, '2024-03-01 10:00:00', 5, 'Category5', 52.5, 5, 262.5), (9, 1009, '2024-03-01 10:00:00', 9, 'Category4', 94.5, 4, 378.0), (10, 1010, '2024-03-01 10:00:00', 10, 'Category5', 105.0, 5, 525.0), (14, 1014, '2024-03-01 10:00:00', 14, 'Category4', 147.0, 4, 588.0)]

In [9]:
# Task 6: Data Modification
cur.execute('''UPDATE transactions SET total_price = total_price * 1.1 WHERE transaction_id <= 10''')
cur.execute('''SELECT * FROM transactions WHERE transaction_id <= 10''')
print("\nTask 6: Data Modification")
print(cur.fetchall())

Task 6: Data Modification
[(1, 1001, '2024-03-01 10:00:00', 1, 'Category1', 10.5, 1, 11.55), (2, 1002, '2024-03-01 10:00:00', 2, 'Category2', 21.0, 2, 46.2), (3, 1003, '2024-03-01 10:00:00', 3, 'Category3', 31.5, 3, 103.95), (4, 1004, '2024-03-01 10:00:00', 4, 'Category4', 42.0, 4, 184.8), (5, 1005, '2024-03-01 10:00:00', 5, 'Category5', 52.5, 5, 288.75), (6, 1006, '2024-03-01 10:00:00', 6, 'Category1', 63.0, 1, 69.30000000000001), (7, 1007, '2024-03-01 10:00:00', 7, 'Category2', 73.5, 2, 161.70000000000002), (8, 1008, '2024-03-01 10:00:00', 8, 'Category3', 84.0, 3, 277.20000000000005), (9, 1009, '2024-03-01 10:00:00', 9, 'Category4', 94.5, 4, 415.8), (10, 1010, '2024-03-01 10:00:00', 10, 'Category5', 105.0, 5, 577.5)]

In [10]:
# Close the connection
conn.close()